@using OshChannel.Helpers

@model OshBusinessModel.Da.Rootings.RootingsAreasDa[]

@{
    ViewBag.Title = "Controller";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


@if(Model.Length == 0)
{
    <p>За вами не закреплен ни один участок</p>
}
else
{
    <table border="1" width="100%">
        @for(int i=0; i<Model.Length; i++)
        {
            var area = Model[i];
            <tr>
                <td rowspan="3">@(i+1)</td>
                <td rowspan="3"><h3><a href="@Url.Action("ControllerRootingsStreets", "m", new {areaId = area.AreaId})">@area.AreaName</a></h3></td>
                <td>Активных абонентов</td>
                <td>@area.OpenContractsCount</td>
            </tr>
            <tr>
                <td>Из них с водомером</td>
                <td>@area.ContractsWithMetersCount</td>
            </tr>
            <tr>
                <td>Показания не предоставили</td>
                <td>@area.NoMetersValuesProvidedCount</td>
            </tr>
        }
    </table>
}