
@{
    ViewBag.Title = "Контроллер";
}

<div class="userMenu" style="margin-bottom: 50px;">
    
    @Html.Partial("ShortSearchComponentPartial", new ViewDataDictionary())
    
    <div class="row bottomMargin">
        <div class="span3 offset3">
            <h2><a href="@Url.Action("Dictionary", "Subscribers", new {type = "le"})">Юр лица</a></h2>
            <p>Справочник юр лиц</p>
        </div>
        
        <div class="span3">
            <h2><a href="@Url.Action("Dictionary", "Subscribers", new {type = "prs"})">Физ лица</a></h2>
            <p>Справочник физ лиц</p>
        </div>
    </div>

    <div class="row bottomMargin">
        
        <div class="span3">&nbsp;</div>

        <div class="span3">
            <h2><a href="@Url.Action("Dictionary", "Subscribers")">Справочник абонентов</a></h2>
            <p>Посмотреть абонентов своего участка</p>
        </div>
        
        <div class="span3">
            <h2><a href="@Url.Action("RootingsAreas", "Controller")">Обходной лист</a></h2>
            <p>Выполнение обходного листа</p>
        </div>
    </div>

    <div class="row bottomMargin">
        
        <div class="span3">&nbsp;</div>

        <div class="span3">
            <h2><a href="@Url.Action("Transactions", "Accountant", new {userId = OshChannel.Helpers.Auth.User.UserId, subagentId = -1})">Сверка кассы</a></h2>
            <p>Сверка наличных денег с бухгалтерией</p>
        </div>

        <div class="span3">
            <h2><a href="@Url.Action("Create", "Contracts")">Новый контракт </a></h2>
            <p>Завести нового абонента</p>
        </div>

    </div>

</div>

