@using OshBusinessModel.Da.ShowContract
@using OshBusinessModel.Data
@using OshChannel.Helpers
@model OshBusinessModel.Da.ShowContract.ShowContractModel

@{
    ViewBag.Title = Model != null ? Model.Details.ContractNumber : "Детали контракта";
    string type = Model != null ? Model.Subscriber.Type : "";
    bool isPersonal = type == "prs";

    bool showMeters = Model != null && (Model.Meters.Length > 0 || (Model.Options.Length == 0 && Model.PossibleOptions.Length == 0));
}
                
<button id="contractAction" class="btn @(Model.Details.IsOpen ? "btn-danger" : "btn-success")">@(Model.Details.IsOpen ? "Приостановить" : "Возобновить")</button>

<div id="modal-contractAction" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>@(Model.Details.IsOpen ? "Приостановить" : "Возобновить") контракт</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="contractAction-changeRemarks">Основание</label>
                <div class="controls">
                    <textarea id="contractAction-changeRemarks" rows="3" cols="50" class="span3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмета</button>
        <button class="btn btn-primary" id="save-contractAction">@(Model.Details.IsOpen ? "Приостановить" : "Возобновить")</button>
    </div>
</div>

<script type="text/javascript">
    function registerContractAction() {
        var contractId = @Model.Details.ContractId;
                var action = '@(Model.Details.IsOpen ? "disable" : "enable")';
        var changeRemarks = $('#contractAction-changeRemarks').val();

        var dto = { ContractId: contractId, Action: action, ChangeRemarks: changeRemarks };
        var json = JSON.stringify(dto);

        $.ajax({
            url: '@Url.Action("RegiserConractActionAjax", "Contracts")',
            type: 'POST',
            contentType: 'application/json; charser=utf-8',
            dataType: 'json',
            data: json,
            success: function(result) {
                if (result['Success']) {
                    location.reload();
                } else {
                    alert(result['Message']);
                }
            }, 
            error: function (a, b, c) {
                alert('Пожалуйста, проверьте данные');
            }
        });
    }

    $(function() {
        $('#contractAction').click(function() {
            $('#modal-contractAction').modal('show');
        });

        $('#save-contractAction').click(function() {
            registerContractAction();
        });
    });
    
</script>