@using OshBusinessModel.Da.ShowContract
@using OshBusinessModel.Data
@using OshChannel.Helpers
@model OshBusinessModel.Da.ShowContract.ShowContractModel

@{
    ViewBag.Title = Model != null ? Model.Details.ContractNumber : "Детали контракта";
    string type = Model != null ? Model.Subscriber.Type : "";
    bool isPersonal = type == "prs";

    bool showMeters = Model != null && (Model.Meters.Length > 0 || (Model.Options.Length == 0 && Model.PossibleOptions.Length == 0));
}

<button class="btn btn-success" id="setMetersValues">Задать показания</button>

<div id="modal-setMetersValues" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Задать показания</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="setMetersValues-date">Дата</label>
                <div class="controls">
                    <input type="text" id="setMetersValues-date" value="@DateTime.Today.ToShortDateString()"/>
                </div>
            </div>
            <input type="hidden" id="setMetersValues-metersCount" value="@Model.Meters.Where(m => m.Enabled).Count()"/>
            
            @{
                var i = 0;

                foreach (var meter in Model.Meters.Where(m => m.Enabled))
                {
                    <div class="control-group">
                        <label class="control-label" for="setMetersValues-meter-@i">@meter.SerialNumber</label>
                        <div class="controls">
                            <input type="text" id="setMeterValues-meterValue-@i" meter-id="@meter.MeterId" value="@meter.MeterValue.ToString("0.00")"/>
                        </div>
                    </div>
                    i++;
                }
            }
        <div class="control-group">
            <label class="control-label" for="setMetersValues-meterValueType">Примечание</label>
            <div class="controls">
                <select id="setMetersValues-meterValueType">
                    @foreach(var meterValueType in MeterReadingType.MeterReadingTypesForEnter)
                    {
                        <option value="@meterValueType.SemanticId">@meterValueType.Name</option>
                    }
                </select>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>
        <button class="btn btn-primary" id="save-setMetersValues">Сохранить</button>
    </div>
</div>

<script type="text/javascript">

    function setMetersValues() {
        var count = $('#setMetersValues-metersCount').val();
        var date = $('#setMetersValues-date').val();
        var meterValueType = $('#setMetersValues-meterValueType').val();
        var dto = { Date: date, Meters: [], MeterValueType: meterValueType };

        for (var i = 0; i < count; i++) {
            var sid = '#setMeterValues-meterValue-' + i;
            var id = $(sid).attr('meter-id');
            var value = $(sid).val();
            //var valueAsString = value.toString();

            dto.Meters.push({ MeterId: id, Value: value});
        }

        var json = JSON.stringify(dto);

        //alert('Meters: ' + dto.Meters.length);

        $.ajax({
            url: '@Url.Action("SetMetersValues", "Contracts")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: json,
            success: function (result) {

                if (result['Success']) {
                    location.reload();
                } else {
                    alert(result['Message']);
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Не корректные данные');
            }
        });

    }

    $(function () {
        
        $('#setMetersValues').click(function () {
            $('#modal-setMetersValues').modal('show');
        });

        $('#save-setMetersValues').click(function () {
            setMetersValues();
        });
        
    });
    
</script>
