@using OshChannel.Helpers
@model OshBusinessModel.Da.ReportByControllers.ReportByControllersModel

@{
    ViewBag.Title = "Отчет по улицам";
}

@if (Model == null)
{
    <p>Счета не выставлялись</p>
}
else
{
 
    <div class="well">
        <form class="form-inline" action="@Url.Action("ReportByStreets", "Accountant")" style="margin-bottom: 0;">
            <h3 style="margin-bottom: 20px; margin-top: 0;">@ViewBag.Title</h3>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Обновить</button>
            </div>
            <label style="margin-right: 20px;" for="periodStart">Период</label>
            <label style="" for="periodStart">с</label>
            <select name="startPeriodId" class="span2" style="margin-right: 20px;" id="periodStart">
                @foreach (var period in Model.BillingPeriods)
                {
                    <option value="@period.BillingPeriodId"@Html.If(period.BillingPeriodId == Model.StartPeriodId, " selected=\"selected\"")>@period.BillingPeriodName</option>
                }
            </select>
            <label style="" for="periodEnd">по</label>
            <select name="endPeriodId" class="span2" style="margin-right: 20px;" id="periodEnd">
                @foreach (var period in Model.BillingPeriods)
                {
                    <option value="@period.BillingPeriodId"@Html.If(period.BillingPeriodId == Model.EndPeriodId, " selected=\"selected\"")>@period.BillingPeriodName</option>
                }
            </select>
        </form>
    </div>
    
    <table class="table table-bordered table-striped">
        <tr>
            <th>Уч.</th>
            <th>Улица</th>
            <th>Кол. контр.</th>
            <th>Нач. пер.</th>
            <th>Начисл.</th>
            <th>Опл.</th>
            <th>Кон. пер.</th>
        </tr>
        @foreach(var item in Model.Report)
        {
            <tr>
                <td>@(string.IsNullOrEmpty(item.AreaName) ? "Б/У" : item.AreaName)</td>
                <td>@item.StreetName</td>
                <td>@item.ContractsCount</td>
                <td>@((item.StartBalance + item.RegistrationDebt).ToString("0.00"))</td>
                <td>@item.BilledAmount.ToString("0.00")</td>
                <td>@item.TransactionsAmount.ToString("0.00")</td>
                <td>@item.EndBalance.ToString("0.00")</td>
            </tr>
        }
        <tr>
            <th colspan="2">Итого</th>
            <th>@Model.Total.ContractsCount</th>
            <th>@((Model.Total.StartBalance + Model.Total.RegistrationDebt).ToString("0.00"))</th>
            <th>@Model.Total.BilledAmount.ToString("0.00")</th>
            <th>@Model.Total.TransactionsAmount.ToString("0.00")</th>
            <th>@Model.Total.EndBalance.ToString("0.00")</th>
        </tr>
    </table>
    
}